


.wrapper{
    background: linear-gradient(260deg, #A8CBFF 0%, #A8CBFF 0%, #A8CBFF 0%, #EBAEC8 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: clip;
}
Form{
    flex: 1 1 auto;
}
