.form {
  &__title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
  &__info {
  }
  &__label {
    text-align: center;
    margin: 15px 0;
    color: #fda8a8;
  }
  &__input {
    background-color: transparent;
    border-bottom: 1px #fff solid;
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.125rem;
    padding-bottom: 2px;
  }
  &__select {
    margin-bottom: 10px;
  }
  &__add {
    margin: 10px 0;
  }
  &__button {
    margin-top: 10px;
    text-align: center;
    button {
      background-color: transparent;
      color: #fff;
      border: 1px #fff solid;
      padding: 7px 20px;
      border-radius: 3px;
      font-size: 1.0625rem;
    }
  }
}
