@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:,regular,700&display=swap);

$maxWidth: 1920;
$maxWidthContainer: 1000;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type== 1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type== 2 {
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

body{
    font-size: 1rem;
    font-family: Montserrat;
    color: #000;
    background-color: #fff;
}



[class*="__container"]{
    max-width: 1030px;
    margin: 0 auto;
    @include adaptive-value(padding-left, 15, 7, 1);
    @include adaptive-value(padding-right, 15, 7, 1);
}

.page{
    flex: 1 1 auto;
}
._lock{
    overflow: hidden;
    height: 100%;
}
.swiper{
    &__container{
        @include adaptive-value(margin-top, 150, 90, 1);
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
}
.slider__image{
    position: relative;
    padding: 0 5px;
    img{
        border-radius: 12px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
}
.swiper-pagination-bullet {
    width: 15px;
    height: 10px;
    background: linear-gradient(260deg, #A8CBFF 0%, #A8CBFF 0%, #A8CBFF 0%, #EBAEC8 100%);
    border-radius: 7.50px;
  }
  
  .swiper-pagination-bullet-active {
    width: 15px;
    height: 10px;
    background: linear-gradient(260deg, #A8CBFF 0%, #A8CBFF 0%, #A8CBFF 0%, #EBAEC8 100%);
    border-radius: 7.50px;
  }

html.light .white{
    display: none;
}
html.dark .black{
    display: none;
}

html.light ._main_1u9y0_16{
    background-color: #fff;
}
html.light ._aside__img_nhcmy_46{
    background-color: #000;
}
html.light ._aside_nhcmy_1{
    background-color: #fff;
    color: #000;
    border-right: #000 1px solid;
}
html.light ._aside__relog_nhcmy_94{
    color: #000;
}
html.light ._material_jcd92_1{
    color: #000;
    border-bottom: #000 1px solid;
}
html.light ._main__path_3s0o6_1{
    background-color: #F5F8FE;
    color: #000;
    span{
        color: #00000095;
    }
}
html.light ._user_i9wg6_1{
    background: linear-gradient(260deg, #A8CBFF 0%, #A8CBFF 0%, #A8CBFF 0%, #EBAEC8 100%);
}
html.light ._main__path_ic6im_1{
    background-color: #F5F8FE;
    color: #000;
    span{
        color: #00000095;
    }
}
html.light ._main__path_1c73a_1{
    background-color: #F5F8FE;
    color: #000;
    span{
        color: #00000095;
    }
}
html.light ._main__modal_ic6im_18{
    background-image: linear-gradient(260deg, #84b4fb 0%, #84b4fb 0%, #84b4fb 0%, #e492b6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html.light ._main__button_1c73a_19{
    color: #000;
    border: 1px #000 solid;
    &:hover{
        background-color: #e1e1e1;
    }
}
html.light ._aside__link_nhcmy_56{
    span{

        &::after{
            background-color: #000000;
            z-index: 1;
        }
        &:hover{
            color: #1d1d1d;
        }
    }
}