.main {
  &__path {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    column-gap: 10px;
    background-color: #383838;
    font-size: 1.0625rem;
  }
}
.theme {
  margin-left: auto;
  cursor: pointer;
}
