.main {
  &__path {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    column-gap: 10px;
    background-color: #383838;
    font-size: 1.0625rem;
  }
  &__text {
    span {
      color: rgba(255, 255, 255, 0.7);
    }
  }
  &__subject {
    padding: 1.875rem;
  }
  &__content {
    display: flex;
    margin: 50px;
    column-gap: 25px;
    row-gap: 15px;
    justify-content: center;
    flex-wrap: wrap;

    iframe {
      width: 100%;
      height: 85vh;
    }
  }
  &__button {
    background-color: transparent;
    border: 1px #fff solid;
    color: #fff;
    padding: 7px 15px;
    margin: 10px;
    border-radius: 7px;
    transition: background-color 0.2s ease 0s;
    &:hover {
      background-color: #3a3a3a;
    }
  }
  &__schedule {
    border: 1px #fff solid;
    padding: 15px;
  }
}
.schedule {
  &__file {
    text-align: center;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 1.125rem;
    text-align: center;
  }
  &__group {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
  }
  &__delete {
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 7px;
  }
}

.theme {
  margin-left: auto;
  cursor: pointer;
}
